<header>
  <div class="nav-layout-transparent mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <a class="logo" href="{{ "/" | relative_url }}"><span class="mdl-layout-title">Boogle's <span class="logo">Material Card Blog</span></span></a>
      <!-- To align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="{{ "/" | relative_url }}">Home</a>
        <a class="mdl-navigation__link" href="{{ "/about" | relative_url }}">About</a>
        <a class="mdl-navigation__link" href="{{ "/#" | relative_url }}">Another</a>
      </nav>
    </div>
  </header>
  <div id="drawer" class="mdl-layout__drawer">
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="{{ "/" | relative_url }}">Home</a>
      <a class="mdl-navigation__link" href="{{ "/about" | relative_url }}">About</a>
      <a class="mdl-navigation__link" href="{{ "/#" | relative_url }}">Another</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
  </main>
</div>
<a class="logo" href="{{ "/" | relative_url }}"><span class="newlogo">Boogle's <span class="logo">Sample Blog</span></span></a>


    <div class="headerbox">
      <div class="headings">
      </div>
    </div>


</header>
